{% extends '@theme/layout.twig' %}
{% set meta_description = entry.field('meta_description') %}

{% block title %}{{ entry.field('title') }} · {{ site.name }}{% endblock %}

{% block content %}
<article class="wrap">
    <h1>{{ entry.field('title') }}</h1>
    <div class="article-body">
        {{ entry.field('body')|markdown }}
    </div>
</article>
{% endblock %}
